<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Potassium File Provider</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>group.net.weavee.potassiumProvider</string>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.weavee.potassiumProvider.action.addFavorite</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Add to kDrive Favorites</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND SUBQUERY(fileproviderItems, $item, $item.userInfo.isRoot == NO AND $item.userInfo.isTrashed == NO AND $item.userInfo.isFavorite == NO).@count == 1</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.weavee.potassiumProvider.action.removeFavorite</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Remove from kDrive Favorites</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND SUBQUERY(fileproviderItems, $item, $item.userInfo.isRoot == NO AND $item.userInfo.isTrashed == NO AND $item.userInfo.isFavorite == YES).@count == 1</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.weavee.potassiumProvider.action.duplicate</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Duplicate on kDrive</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND SUBQUERY(fileproviderItems, $item, $item.userInfo.isRoot == NO AND $item.userInfo.isTrashed == NO).@count == 1</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.weavee.potassiumProvider.action.restoreFromTrash</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Restore from kDrive Trash</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND SUBQUERY(fileproviderItems, $item, $item.userInfo.isRoot == NO AND $item.userInfo.isTrashed == YES).@count == 1</string>
			</dict>
		</array>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PotassiumFileProviderExtension</string>
	</dict>
</dict>
</plist>
