<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Potassium Actions</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-actionsui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ProviderActionViewController</string>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.weavee.potassiumProvider.action.shareLink</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Share kDrive Link…</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND SUBQUERY(fileproviderItems, $item, $item.userInfo.isRoot == NO AND $item.userInfo.isTrashed == NO).@count == 1</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.weavee.potassiumProvider.action.versionHistory</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Version History…</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND SUBQUERY(fileproviderItems, $item, $item.userInfo.isRoot == NO AND $item.userInfo.isTrashed == NO AND $item.userInfo.isDirectory == NO).@count == 1</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
